* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background: whitesmoke;
  color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-wrapper {
  width: 100%;
  max-width: 380px;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: gainsboro;
}

.login-card h1 {
  margin-bottom: 8px;
  color: greenyellow;
}

.login-card p {
  margin-bottom: 18px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid wheat;
  border-radius: 10px;
}

button {
  margin-top: 8px;
  background-color: burlywood;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  cursor: pointer;
}

button:hover {
  background: darksalmon;
}
